body{
    height:97vh;
    background-color: rgb(188, 212, 195);
}
  
.logo{
    display: block;
    margin:auto;
    width: 50px;
    height: 50px;
}

h1{ 
    margin-top: 12px;
    font-size: 30px;
    text-align: center;
    color: rgb(117, 115, 112);
}

.container{
    max-width: 950px;
    border: 3.5px solid rgb(102, 100, 100);
    border-radius: 12px;
    margin: auto;
    height: 60vh;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 25px;
}

.message{
    max-width: 40%;
    padding: 8px;
    margin: 10px 10px;
    border: 2px solid rgb(88, 88, 88);
    border-radius: 10px;
}

.left{
    background-color: rgb(156, 153, 153);
    float: left;
    clear: both;
}

.right{
    background-color: rgb(204, 201, 201);
    float: right;
    clear:both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 950px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInp{
    background-color: rgb(228, 226, 224);
    width:75%;
    height:30px;
    border:2.2px solid black;
    border-radius: 35px;
    font-size: 20px;
    font-family: cursive;
    padding-left: 20px;
    padding-right: 20px;
}

.btn{
    background-color: rgb(198, 250, 177);
    margin: 0 8px;
    width: 9%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 7px;
    height: 33px;
}

.btn i{
    font-size: 140%;
}

